* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #2C3139;
  }

  .menu-image {
    width: 40px;
    height: 28px;
  }
  
  .logo-image {
    width: 58px;
    height: 63px;
  }

  #search {
    background-color: #2C3139;
  }

  .language-selector {
    color: #FFFFFF;
  }

  .main-image {
    width: 1923px;
    height: 1080px;
    margin-bottom: 24px;
  }

  .popular-categories h2 {
    font-size: 50px;
    line-height: 58.59px;
    letter-spacing: 0px;
    margin-left: 140px;
    margin-bottom: 24px;
  }

  .beds-headboards-image,
  .dressers-chests-image,
  .nightstands-image {
    width: 220px;
    height: 266px;
  }

  .benches-image,
  .chairs-image,
  .tables-image {
    width: 220px;
    height: 220px;
  }