* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #2C3139;
  }

  .menu-image {
    width: 40px;
    height: 28px;
  }
  
  .logo-image {
    width: 58px;
    height: 63px;
  }

  #search {
    background-color: #2C3139;
  }

  .search-icon-image {
    width: 28.44px;
    height: 32.85px;
  }

  .favorites-image {
    width: 37px;
    height: 34px;
  }

  .shopping-cart-image {
    width: 40px;
    height: 40px;
  }

  .account-image {
    width: 40px;
    height: 44.11px;
  }

  .language-selector {
    color: #FFFFFF;
  }

  .main-image {
    width: 1923px;
    height: 1080px;
    margin-bottom: 24px;
  }

  .popular-categories h2 {
    font-size: 50px;
    line-height: 58.59px;
    letter-spacing: 0px;
    margin-left: 140px;
    margin-bottom: 24px;
    font-weight: 600;
  }

  .beds-headboards-image,
  .dressers-chests-image,
  .nightstands-image {
    width: 220px;
    height: 266px;
  }

  .benches-image,
  .chairs-image,
  .tables-image {
    width: 220px;
    height: 220px;
  }

  .products-h3 h3 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 140px;
    font-weight: 500;
  }

  .tables-h3 h3,
  .chairs-h3 h3,
  .benches-h3 h3 {
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0px;
    font-weight: 400;
  }

  .products-boxes div {
    margin-bottom: 24px;
  }
  
  .products-boxes img {
    width: 468px;
    height: 424px;
  }

  .sorting p {
    margin-left: 1443px;
  }